{{ attach_library('nitflex_theme/card') }}

<article class="card {{ attributes ? attributes.class }}"{{ attributes ? attributes|without(class) }}>
{% if cover_image %}
  <div class="card__cover-image">
    {{ cover_image }}
    <button class="card__icon js-add-to-list" aria-label="Add to watch list">
    </button>
  </div>
 {% endif %}
 {% if heading or average_rating or genre or synopsis or mpaa_rating or promo_sentence %}
  <div class="card__content">
    {% if heading %}
      {{ title_prefix }}
        {%
          include '@nitflex_theme/heading/heading.twig' with {
            "heading": {
              "title": heading.title,
              "url": "#",
              "heading_level": 3,
              "classes": 'card__heading'
            }
          } only
        %}
      {{ title_suffix }}
    {% endif %}
    {% if promo_sentence %}
      <div class="card__promo">
        {{ promo_sentence }}
      </div>
    {% endif %}
      {% if genre %}
      <div class="card__genre">
        {{ genre }}
      </div>
    {% endif %}
    {% if mpaa_rating %}
      <div class="card__mpaa-rating">
        {{ mpaa_rating }}
      </div>
    {% endif %}
    {% if average_rating %}
      <div class="card__average-rating">
        {{ average_rating }}
      </div>
    {% endif %}
    {% if synopsis %}
      <div class="card__synopsis">
        {{ synopsis }}
      </div>
    {% endif %}
  </div>
 {% endif %}
</article>
