{{ attach_library('nitflex_theme/heading') }}

{# Default to h2 (heading level 2) if no heading level is supplied. #}
{% set heading_level = heading.heading_level | default(2) %}

<h{{ heading_level }} class="heading {{ heading.classes|default('') }}">
  {% if heading.url %}
    <a href="{{ heading.url }}">{{ heading.title }}</a>
  {% else %}
    {{ heading.title }}
  {% endif %}
</h{{ heading_level }}>
