{{ attach_library('nitflex_theme/movie-card') }}

<article class="movie-card {{ attributes ? attributes.class }}"{{ attributes ? attributes|without(class) }}>
{% if cover_image %}
  <div class="movie-card__cover-image">
    {{ cover_image }}
    <button class="movie-card__icon js-add-to-list" aria-label="Add to watch list">
    </button>
  </div>
 {% endif %}
 {% if heading or average_rating or genre or synopsis or mpaa_rating or promo_sentence %}
  <div class="movie-card__content">
    {% if heading %}
      {{ title_prefix }}
        {%
          include '@nitflex_theme/heading/heading.twig' with {
            "heading": {
              "title": heading.title,
              "url": "#",
              "heading_level": 3,
              "classes": 'movie-card__heading'
            }
          } only
        %}
      {{ title_suffix }}
    {% endif %}
    {% if promo_sentence %}
      <div class="movie-card__promo">
        {{ promo_sentence }}
      </div>
    {% endif %}
      {% if genre %}
      <div class="movie-card__genre">
        {{ genre }}
      </div>
    {% endif %}
    {% if mpaa_rating %}
      <div class="movie-card__mpaa-rating">
        {{ mpaa_rating }}
      </div>
    {% endif %}
    {% if average_rating %}
      <div class="movie-card__average-rating">
        {{ average_rating }}
      </div>
    {% endif %}
    {% if synopsis %}
      <div class="movie-card__synopsis">
        {{ synopsis }}
      </div>
    {% endif %}
  </div>
 {% endif %}
</article>
