{{ attach_library('nitflex_theme/movie-card') }}

<article class="movie-card {{ attributes ? attributes.class }}"{{ attributes ? attributes|without(class) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% if cover_image %}
    <div class="movie-card__cover-image">
      {{ cover_image }}
    </div>
  {% endif %}
  <div class="movie-card__content">
    {% if heading %}
      {%
        include '@nitflex_theme/heading/heading.twig' with {
          "heading": {
            "title": heading.title,
            "url": heading.url,
            "heading_level": heading.heading_level,
            "classes": 'movie-card__heading'
          }
        } only
      %}
    {% endif %}
    <div class="movie-card__favorites-toggle">
      {% block favorites_toggle %}
        {%
          include '@nitflex_theme/add-to-favorites/add-to-favorites.twig' with {
            url: '#',
          } only
        %}
      {% endblock %}
    </div>
    {% if mpaa_rating %}
      <div class="movie-card__mpaa-rating">
        {{ mpaa_rating }}
      </div>
    {% endif %}
    {% if average_rating %}
      <div class="movie-card__average-rating">
        {% include '@nitflex_theme/average-rating/average-rating.twig' with {
            count: average_rating
          } only 
        %}
      </div>
    {% endif %}
    {% if synopsis %}
      <div class="movie-card__synopsis">
        {{ synopsis }}
      </div>
    {% endif %}
  </div>
</article>
