{{ attach_library('shiny/heading') }}

{# Default to h2 (heading level 2) if no heading level is supplied. #}
{% set heading_level = heading_level | default(2) %}
<h{{ heading_level }} class="heading{{ classes|default('') }}">
  {% if url|default() %}
    <a href="{{ url }}">{{ title }}</a>
  {% else %}
    {{ title }}
  {% endif %}
</h{{ heading_level }}>
