{{ attach_library('nitflex_theme/button') }}

{# If an url value is provided render as a link #}
{% if button.url %}
  <a href="{{ button.url }}" class="button">
    {{ button.text }}
  </a>
{# Otherwise render as a button. #}
{% else %}
  <button
    type="{{ button.type|default('submit') }}"
    class="button">
    {{ button.text }}
  </button
{% endif %}
